/* line 1, /home/vagrant/grassroots/core/static/css/index.scss */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

/* line 8, /home/vagrant/grassroots/core/static/css/index.scss */
body {
  background: #f2f2f2; }

/* line 12, /home/vagrant/grassroots/core/static/css/index.scss */
#landing {
  width: 100vw;
  height: 280px;
  background: #6A9C57;
  text-align: center;
  color: white;
  border-bottom: 2px solid #4A8534; }
  /* line 19, /home/vagrant/grassroots/core/static/css/index.scss */
  #landing h1 {
    font-weight: 100;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    letter-spacing: -0.1px;
    margin-bottom: 20px; }
  /* line 25, /home/vagrant/grassroots/core/static/css/index.scss */
  #landing p {
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    font-weight: 100;
    margin-bottom: 25px;
    line-height: 1.5em; }
  /* line 31, /home/vagrant/grassroots/core/static/css/index.scss */
  #landing input {
    width: 150px;
    height: 40px;
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid #4A8534;
    text-align: center;
    font-size: 16px;
    font-weight: 100; }
  /* line 42, /home/vagrant/grassroots/core/static/css/index.scss */
  #landing #user-menu {
    width: 100vw;
    height: 25px;
    background: rgba(0, 0, 0, 0.1);
    text-align: right;
    margin: 0 0 35px 0; }
    /* line 48, /home/vagrant/grassroots/core/static/css/index.scss */
    #landing #user-menu ul {
      list-style-type: none; }
      /* line 50, /home/vagrant/grassroots/core/static/css/index.scss */
      #landing #user-menu ul li {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        padding: 5px 10px 0 0; }

/* line 61, /home/vagrant/grassroots/core/static/css/index.scss */
#main nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25px); }
  /* line 65, /home/vagrant/grassroots/core/static/css/index.scss */
  #main nav li {
    float: left;
    color: #6A9C57;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    background: white;
    width: 200px;
    height: 50px;
    padding: 17px 0 0 0;
    border-right: 1px solid #e9eaeb;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
    text-align: center; }
    /* line 79, /home/vagrant/grassroots/core/static/css/index.scss */
    #main nav li:first-child {
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    /* line 87, /home/vagrant/grassroots/core/static/css/index.scss */
    #main nav li:last-child {
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    @media screen and (max-width: 500px) {
      /* line 65, /home/vagrant/grassroots/core/static/css/index.scss */
      #main nav li {
        width: 33.3333333vw; } }
    /* line 98, /home/vagrant/grassroots/core/static/css/index.scss */
    #main nav li:hover {
      background: #f9f9f9; }

/*# sourceMappingURL=../../../../../../static/css/index.css.map */