* {
  margin:0;
  padding:0;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
}

.headings {
  float:left;
  width: 100px;
  font-weight: bold;
}

.details {
  float:left;
  width:300px;
}
